# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
/android
/ios

# Metro
.metro-health-check*

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# Local environment files
.env
.env.local
.env.*.local

# macOS
.DS_Store

# Build artifacts
*.tsbuildinfo

# Editor
.vscode/*
!.vscode/extensions.json
.idea/

# Logs
*.log
